.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 728px;
    margin: 0 auto;
  }
}
