@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    max-height: 440px;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
    max-height: 340px;
    margin: 0;
  }
}

@media screen and (max-width: 720px) {
  .place__image {
    width:  100%;
    margin-left: 16px;
  }
}

@media screen and (max-width: 356px) {
  .place__image {
    width: 100%;
    margin-left: 0;
  }
}
