.intro {
  padding-top: 92px;
  padding-left: 100px;
  padding-bottom: 92px;
  padding-right: 0;
  max-width: 790px;
}

@media screen and (max-width: 1200px) {
  .intro {
    padding-left: 6.5vw;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 840px) and (min-width: 769px) {
  .intro {
    padding-right: 3vw;
    padding-left: 3vw;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-left: 0;
    padding-bottom: 75px;
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
    .intro {
      padding-top: 86px;
      padding-bottom: 64px;
      max-width: 90%;
    }
  }

  @media screen and (max-width: 320px) {
      .intro {
        padding-top: 62px;
        padding-bottom: 54px;
        max-width: 90%;
      }
    }
