.place__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration: underline;
  color: #ffffff;
}

.place__link:hover {
  cursor: url('../../../images/cursor.png'), default;
}
