.place {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1024px) {
  .place {
    column-gap: 3.125vw;
    row-gap: 4.7vw;
  }
}
@media screen and (max-width: 740px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    margin-bottom: 49px;
  }
}
