.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 720px) and (min-width: 585px){
  .place {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr min-content;
    gap: 32px;
    margin-bottom: 49px;
  }
}

@media screen and (max-width: 584px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
    margin-bottom: 49px;
  }
}
